.dropdown > input:checked ~ div {
  transform: scaleY(1);
  transform-origin: top left;
  transition: all 0.3s ease-out;
}

.dropdown > div {
  /* display: none; */
  transform-origin: top left;
  transform: scaleY(0);
  transition: all 0.3s ease-in;
}

.sideOpen > input:checked + div {
  /* transform: scaleX(1); */
  display: block;
}

.sideOpen > div + input + div {
  display: none;
}
