@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --black: #0c0c0c;
  --grey-dark: #2e2e2e;
  --grey-light: #cccccc;
  --blue: #007fff;
  --maroon: #631d1d;
  --green-neon: #31e200;
  --red-neon: #e20000;
  --purple: #2e2c86;
  --grue: #30353c;
}

body {
  background-color: var(--grey-dark);
  color: var(--grey-light);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
